@import "tailwindcss";
@import "tailwind-animate";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, monospace;

  --text-xxs: 0.625rem; 
  --text-xxxs: 0.5625rem; 
  --text-xxxxs: 0.5rem; 

  --shadow-xxs: 0 1px 2px 0 rgb(0 0 0 / 0.03);
}


@utility scrollbar-thin {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }
}

@utility scrollbar-thumb-zinc-200 {
  scrollbar-color: var(--color-zinc-200) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-zinc-200);
  }
}

@utility scrollbar-thumb-zinc-800 {
  scrollbar-color: var(--color-zinc-800) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-zinc-800);
  }
}
